#Challenge{
    background-color: lavender;
    border : dotted 50px rgb(100, 90, 209);
    color: rgb(134, 74, 197);
    font-weight: bold;
}
#Problems{
    background-color: lavender;
    border : dotted 50px rgb(100, 90, 209);
    color: rgb(134, 74, 197);
    font-weight: bold;

}
#Results{
    background-color: lavender;
    border : dotted 50px rgb(100, 90, 209);
    color: rgb(134, 74, 197);
    font-weight: bold;
}
#Reflection{
    background-color: lavender;
    border : dotted 50px rgb(100, 90, 209);
    color: rgb(134, 74, 197);
    font-weight: bold;
}